@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MenuManager.Model.Product

@{
    ViewBag.Title = $"Delete Product {Model.Name}";
}

<form method="post">
    <p>Are you sure you want to delete product "@Model.Name"?</p>

    <a asp-action="Index" class="btn btn-light">No</a>
    <button type="submit" class="btn btn-danger">Yes</button>
</form>